<div class="card no-link-design" onclick="redirectToDetailPage('{{ interface.interface_type | lower }}', '{{ interface.name }}');" style="cursor: pointer;">
  <div class="row no-gutters align-items-center">
    <!-- ------------------------ image ---------------------- -->
    {% include '_interfaceImage.html' %}
    <!-- ---------------- text ---------------- -->
    <div class="card-body">
        <h5 class="card-title">{{ interface.name }}</h5>
        <p class="card-text">
          Type: <a href="/{{ interface.interface_type | lower }}" class="no-link-design" onclick="event.stopPropagation();">{{ interface.interface_type }}</a>
        </p>
        <p class="card-text">Address: {{ interface.addresses[0].address }}</p>
    </div>
  </div>
</div>

<script>
  function redirectToDetailPage(interfaceType, interfaceName) {
    window.location.href = '/' + interfaceType + '/' + interfaceName;
  }
</script>
