<!-- /root/flaskapp/templates/_adapters-card.html -->
<link rel="stylesheet" href="/static/css/adapters-card.css">
<a class="no-link-design" href="/{{ interface.networkTechnology.replace('Wi-Fi', 'Wireless').replace('Ethernet', 'Wired') }}/{{ interface.ifname }}">
  <div class="adapters-card no-link-design">
      <div class="interfaceImage">
        {% include '_interfaceImage.html' %}
      </div>
      <div class="interfaceBody">
        <p class="interfaceTitle">{{ interface.ifname }}</p>
        <div class="interfaceDetails">
          {% if interface.networkTechnology == 'Bluetooth' %}
            <p class="interfaceHeading">BD address</p>
            <p class="interfaceText">{{ interface.BDAddress }}</p>
          {% elif interface.networkTechnology == 'Loopback' %}
            <p class="interfaceHeading">IP Address</p>
            <p class="interfaceText">127.0.0.1</p>
          {% else %}
            <p class="interfaceHeading">mac address</p>
            <p class="interfaceText">{{ interface.address }}</p>
          {% endif %}
        </div>
      </div>
  </div>
</a>
