<div class="card m-1 d-flex align-items-center" style="width: 250px;">
  <div class="row no-gutters align-items-center w-100" onclick="redirectToClientDetail('{{ mac if mac else ip }}');" style="cursor: pointer;">
    <!-- ------------------------ icon ---------------------- -->
    <div class="col-md-3 d-flex align-items-center justify-content-center p-3">
      {% if manufacturer == 'Raspberry Pi Foundation' %}
        <i class="fa-brands fa-raspberry-pi fa-3x text-primary"></i>
      {% elif manufacturer == 'Windows' %}
        <i class="fa-brands fa-windows fa-3x text-primary"></i>
      {% elif manufacturer == 'Apple' %}
        <i class="fa-brands fa-apple fa-3x text-primary"></i>
      {% elif manufacturer == 'VMware' %}
        <i class="fa-brands fa-vmware fa-3x text-primary"></i>
      {% else %}
        <i class="fa-solid fa-desktop fa-3x text-primary"></i>
      {% endif %}
    </div>
    <!-- ---------------- text ---------------- -->
    <div class="col-md-9">
      <div class="card-body py-2">
        <h5 class="card-title mb-1">{{ ip if ip else mac }}</h5>
        {% if mac %}
          <p class="card-text mb-0">MAC: {{ mac }}</p>
        {% endif %}
        <p class="card-text mb-1">Manufacturer: {{ manufacturer }}</p>
      </div>
    </div>
  </div>
</div>

<script>
  function redirectToClientDetail(identifier) {
    window.location.href = '/clients/' + encodeURIComponent(identifier);
  }
</script>
