<!-- /root/flaskapp/templates/_interfaceImage.html -->
{% set active_color = 'text-primary' if interface.state == 'UP' else 'text-black' %}
<div class="interface-icon col-md-3 d-flex align-items-center justify-content-center p-3">
  {% if interface.interface_type == 'Wireless' %}
    <i class="fa-solid fa-wifi fa-3x {{ active_color }}"></i>
  {% elif interface.interface_type == 'Wired' %}
    <i class="fa-solid fa-ethernet fa-3x {{ active_color }}"></i>
  {% elif interface.interface_type == 'Loopback' %}
    <i class="fa-solid fa-house fa-3x text-primary"></i>
  {% elif interface.interface_type == 'Bluetooth' %}
    <i class="fa-brands fa-bluetooth-b fa-3x {{ active_color }}"></i>
  {% elif interface.interface_type == 'Bridge' %}
    <i class="fa-solid fa-project-diagram fa-3x {{ active_color }}"></i>
  {% elif interface.interface_type == 'Bond' %}
    <i class="fa-solid fa-link fa-3x {{ active_color }}"></i>
  {% elif interface.interface_type == 'Station' %}
    <i class="fa-solid fa-broadcast-tower fa-3x {{ active_color }}"></i>
  {% elif interface.interface_type == 'VPN' %}
    <i class="fa-solid fa-shield-halved fa-3x {{ active_color }}"></i>
  {% elif interface.interface_type == 'Virtual' %}
    <i class="fa-solid fa-server fa-3x {{ active_color }}"></i>
  {% else %}
    <i class="fa-solid fa-network-wired fa-3x {{ active_color }}"></i>
  {% endif %}
</div>
