<link rel="stylesheet" href="/static/css/navbar.css">
<script src="/static/js/navbar.js"></script>

<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a href="/" class="navbar-brand">Honours</a>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="navbar-nav">
      <a href="/" class="nav-link {% if title == 'Home' %}active{% endif %}">Home</a>
      {% for technology in networkTechnologies %}
        {% if technology != 'Loopback' %}
          <div class="nav-item dropdown">
            <a href="/{{ technology | lower }}" class="nav-link {% if title == technology or (interface is defined and interface.interface_type == technology) %}active{% endif %}" data-toggle="dropdown">{{ technology }}</a>
            <div class="dropdown-menu">
              {% for interface in interfaces %}
                {% if interface.interface_type == technology %}
                  <a href="/{{ technology | lower }}/{{ interface.name }}" class="dropdown-item {% if title == interface.name %}active{% endif %}">{{ interface.name }}</a>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        {% endif %}
      {% endfor %}
      <a href="/about" class="nav-link {% if title == 'About' %}active{% endif %}">About</a>
      <a href="/contact" class="nav-link {% if title == 'Contact' %}active{% endif %}">Contact</a>
      <a href="/network-scan" class="nav-link {% if title == 'Network Scan' %}active{% endif %}">Scan</a>
      <a href="/red-team" class="nav-link {% if title == 'Red Team' %}active{% endif %}">Red Team</a>
    </div>
    <div class="d-flex d-md-none text-left">
      <button id="listAdapters1" type="button" class="fa-solid fa-rotate btn" data-toggle="tooltip" data-placement="bottom" title="Refresh Network Adapters" style="background-color:transparent; color: white;"></button>
    </div>
    <div class="ml-auto d-none d-md-flex">
      <button id="listAdapters2" type="button" class="fa-solid fa-rotate btn" data-toggle="tooltip" data-placement="bottom" title="Refresh Network Adapters" style="background-color:transparent; color: white;"></button>
    </div>
  </div>
  <script src="/static/js/wireless-scripts.js"></script>
</nav>
